<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Application</title>

</head>
<body>

<div th:include="/Shared/sidebar :: sidebar"></div>

<header th:replace="/Shared/heaer :: header"></header>
    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>
        <div class="mui-container-fluid">
            <div layout:fragment="content"></div>
        </div>
    </div>


</body>
</html>