<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/mui.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{js/jquery-214.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/mui.min.js}"></script>
    <script type="text/javascript" th:src="@{js/script.js}"></script>
</head>

<body>


</body>
</html>